body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

/* @keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
} */

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease-out 100ms
}

.box:hover {
  background-color: #71f665;
}


.icon {
  font-size: 35px;
  color: #ffffff;
  transition: font-size 3s ease-in-out 500ms
}

.box:hover {
  font-size: 45px;
}
